nav {
  width: calc(100% - 96px);
  margin: 0px 48px;
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
  ul {
    margin: 0px;
    padding: 0px;
  }
  div.nav_container {
    width: 100%;
    max-width: 1200px;
    min-height: 80px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
  }
  .nav_left,
  .nav_right {
    ul {
      display: grid;
      grid-template-columns: 1fr 1fr;
      list-style: none;
    }
  }
  .nav_left {
    ul {
      justify-items: start;
    }
  }
  .nav_right {
    ul {
      justify-items: end;
    }
  }
  .nav_logo {
    text-align: center;
    .nav_logo-subtitle {
      font-size: 0.8em;
      text-transform: uppercase;
      display: block;
      font-weight: normal;
    }
    .nav_logo-title {
      font-size: 1.2em;
    }
  }
  a {
    color: black;
    text-decoration: none;
    transition: all 0.3s ease-in-out;
    &:hover {
      color: #333232;
    }
  }
}

footer {
  width: 100%;
  min-height: 85px;
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
  justify-items: center;
}

@media screen and (max-width: 800px) {
  nav {
    width: 100%;
    margin: 0px 0px 2em 0px;
    div.nav_container {
      grid-template-columns: 1fr 1fr 1fr 1fr;
      grid-template-areas:
        'lg lg lg lg'
        'nl nl nr nr';
    }
    .nav_left {
      grid-area: nl;
    }
    .nav_logo {
      grid-area: lg;
      padding: 2em 0px;
    }
    .nav_right {
      grid-area: nr;
    }
    .nav_left,
    .nav_right {
      ul {
        align-items: center;
        justify-items: center;
      }
    }
  }
}
