@import url('https://fonts.googleapis.com/css?family=Open+Sans|Playfair+Display:400,700&display=swap');

:root {
  --teal050: #effcf6;
  --teal100: #c6f7e2;
  --teal200: #8eedc7;
  --teal300: #65d6ad;
  --teal400: #3ebd93;
  --teal500: #27ab83;
  --teal600: #199473;
  --teal700: #147d64;
  --teal800: #0c6b58;
  --teal900: #014d40;

  --gray050: #f0f4f8;
  --gray100: #d9e2ec;
  --gray200: #bcccdc;
  --gray300: #9fb3c8;
  --gray400: #829ab1;
  --gray500: #627d98;
  --gray600: #486581;
  --gray700: #334e68;
  --gray800: #243b53;
  --gray900: #102a43;
}

// LAYOUT =======================================

* {
  box-sizing: border-box;
}

body {
  background: var(--gray050);
  margin: 0px;
  font-family: 'Open Sans', sans-serif;
  h1,
  h2,
  h3,
  h4 {
    font-family: 'Playfair Display', serif;
  }
  p,
  a,
  textarea,
  input {
    font-family: 'Open Sans', sans-serif;
    color: var(--gray800);
  }
}

nav {
  width: 100%;
  padding: 0px 48px;
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
  background: white;
  border-top: 5px solid var(--teal400);
  ul {
    margin: 0px;
    padding: 0px;
  }
  div.nav_container {
    width: 100%;
    max-width: 1200px;
    min-height: 80px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
  }
  .nav_left,
  .nav_right {
    ul {
      display: grid;
      grid-template-columns: 1fr 1fr;
      list-style: none;
      a {
        font-family: 'Playfair Display', serif;
        text-transform: uppercase;
      }
    }
  }
  .nav_left {
    ul {
      justify-items: start;
    }
  }
  .nav_right {
    ul {
      justify-items: end;
    }
  }
  .nav_logo {
    text-align: center;
    .nav_logo-subtitle {
      font-size: 0.8em;
      text-transform: uppercase;
      display: block;
      font-weight: normal;
      color: var(--teal900);
    }
    .nav_logo-title {
      font-size: 1.6em;
    }
    img {
      margin: 1em 0px;
      width: 148px;
    }
  }
  a {
    color: black;
    text-decoration: none;
    transition: all 0.3s ease-in-out;
    &:hover {
      color: var(--teal500);
    }
  }
}

div.main_content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: calc(100% - 96px);
  min-height: calc(100vh - 200px);
  margin: 0px 48px;
}

section.container {
  width: 100%;
  max-width: 1200px;
}

section.container_small {
  width: 100%;
  max-width: 800px;
  font-size: 18px;
}

footer {
  width: 100%;
  min-height: 85px;
  padding: 0px 48px;
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
  justify-items: center;
  background-color: var(--gray900);
  @media screen and (max-width: 1072px) {
    width: 100%;
    margin: 0px;
    padding: 16px;
  }
}

article.footer_content {
  margin: 0px 1em 1em 1em;
  max-width: 1200px;
  width: 100%;
  display: grid;
  grid-gap: 2em;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));

  p,
  a,
  h3,
  h4 {
    color: var(--gray100);
  }
  h3,
  h4 {
    margin-top: 0px;
  }

  .footer_content-column {
    padding: 3em 0px;
    ul {
      margin: 0px;
      list-style: none;
      padding-left: 0px;
      a {
        color: var(--gray200);
        text-decoration: none;
        &:hover {
          color: var(--gray100);
        }
      }
    }
  }

  .footer_logo-column {
    padding-bottom: 2em;
    column-span: 3;
    grid-row: 2/3;
    grid-column: 1/4;
    align-self: center;
    align-items: center;
    justify-self: center;
    img {
      width: 64px;
    }
    p {
      text-align: center;
      font-size: 0.8em;
    }
  }

  @media screen and (max-width: 1072px) and (min-width: 401px) {
    max-width: 100%;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1em;
    .footer_content-column {
      li {
        margin-bottom: 0.5em;
      }
    }
    .footer_logo-column {
      grid-column: auto;
      grid-row: auto;
      align-self: start;
      justify-self: start;
      img {
        width: 80px;
      }
    }
    .footer_content-column:nth-of-type(3) {
      padding-top: 0px;
    }
  }

  @media screen and (max-width: 400px) {
    max-width: 100%;
    grid-template-columns: 1fr;
    grid-gap: 1em;
    justify-items: center;
    text-align: center;
    .footer_content-column {
      padding: 12px 0px;
      li {
        margin-bottom: 0.5em;
      }
    }
    .footer_logo-column {
      grid-column: auto;
      grid-row: auto;
      align-self: center;
      justify-self: center;
      img {
        width: 80px;
      }
    }
  }
}

@media screen and (max-width: 800px) {
  nav {
    width: 100%;
    margin: 0px 0px 0px 0px;
    padding: 1em;
    div.nav_container {
      grid-template-columns: 1fr 1fr 1fr 1fr;
      grid-template-areas:
        'lg lg lg lg'
        'nl nl nr nr';
    }
    .nav_left {
      grid-area: nl;
    }
    .nav_logo {
      grid-area: lg;
      padding: 2em 0px;
    }
    .nav_right {
      grid-area: nr;
    }
    .nav_left,
    .nav_right {
      ul {
        font-size: 0.9em;
        align-items: center;
        justify-items: center;
      }
    }
  }

  div.main_content {
    width: 100%;
    margin: 0px;
    padding: 16px;
    margin-bottom: 2em;
  }
}

@media screen and (max-width: 375px) and (min-width: 1px) {
  nav {
    div.nav_container {
      grid-template-columns: 1fr 1fr;
      grid-gap: 8px;
      grid-template-areas:
        'lg lg'
        'nr nr'
        'nl nl';
    }
  }
}

// MAIN PAGE CONTENT ============================
article.intro_container {
  display: grid;
  align-items: center;
  justify-items: center;
  div.intro_box {
    margin: 2em;
    text-align: center;
    max-width: 800px;
    font-size: 18px;
  }
}

.button,
a.button {
  margin-top: 1em;
  border-radius: 4px;
  margin: 0px;
  color: var(--teal400);
  background: white;
  border: solid 2px var(--teal200);
  padding: 0.8em 1.2em;
  transition: all 0.12s ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  cursor: pointer;
  &:hover,
  &:focus {
    outline: none;
    color: var(--teal600);
    background: var(--teal200);
    border: 2px solid var(--teal200);
  }
}

// forms
form {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  input,
  div.input-icon,
  textarea {
    width: 100%;
    font-size: 16px;
  }
  input[type='submit'] {
    margin-top: 1em;
    border-radius: 4px;
    color: var(--gray700);
    background: var(--gray400);
    color: white;
    border: solid 2px var(--gray400);
    padding: 0.8em 1.2em;
    transition: all 0.12s ease-in-out;
    cursor: pointer;
    &:hover,
    &:focus {
      outline: none;
      border: 2px solid var(--teal500);
      background: var(--teal500);
    }
    &:disabled {
      cursor: not-allowed;
      background: var(--gray200);
      color: white;
      border: solid 2px var(--gray200);
      &:hover {
        background: var(--gray200);
        color: white;
        border: solid 2px var(--gray200);
      }
    }
    &.submitted {
      border: 2px solid var(--teal500);
      background: var(--teal500);
      &:hover {
        border: 2px solid var(--teal500);
        background: var(--teal500);
      }
    }
  }
}

// Inputs

input,
label {
  font-size: 16px;
}

label {
  display: inline-block;
  margin: 1em 0px 0.6em 0px;
}

.input {
  background: white;
  padding: 0.8em 1.2em;
  border-radius: 4px;
  color: var(--gray700);
  border: solid 2px var(--gray400);
  border-top-color: white;
  border-left-color: white;
  border-right-color: white;
  transition: all 0.12s ease-in-out;
  &:focus {
    outline: none;
    border: 2px solid var(--teal500);
    color: var(--teal700);
  }
}

.input-icon {
  background: white;
  padding: 0.8em 1.2em;
  border-radius: 4px;
  color: var(--gray700);
  border: solid 2px var(--gray400);
  border-top-color: white;
  border-left-color: white;
  border-right-color: white;
  transition: all 0.12s ease-in-out;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  input {
    border: 0px;
    margin: 0px 0px 0px 1.2em;
    width: 100%;
    &:focus {
      outline: none;
    }
  }
  &:focus-within {
    border: 2px solid var(--teal500);
    color: var(--teal700);
    fill: var(--teal700);
  }
}

.bc_search {
  max-width: 376px;
}

.bc_list {
  margin: 2em 0px;
  padding: 0px;
  display: grid;
  grid-gap: 2em;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}

.bc_list-card {
  background: white;
  border: 1px solid var(--gray100);
  border-radius: 4px;
  h3 {
    margin: 0px;
    font-size: 21px;
  }
  p.bc_list-location {
    margin-top: 0.25em;
    margin-bottom: 0px;
    font-size: 0.8em;
    text-transform: uppercase;
    color: var(--gray500);
  }
}

img.bc_list-img {
  width: 100%;
  height: 225px;
  object-fit: cover;
}

.bc_list-card-pad {
  padding: 1em;
}

.bc_list-hours {
  margin: 0.25em 0px;
  color: var(--teal500);
  &.red {
    color: #ba2525;
  }
  &.yellow {
    color: #b7791f;
  }
}

div.bc_list-options {
  display: grid;
  grid-template-columns: auto 24px;
  p.bc_list-options__heading {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 0.8em;
  }
  p.bc_list-options__content {
    margin: 1em 0px 1.4em 0px;
    &:last-of-type {
      margin: 1em 0px 0.4em 0px;
    }
  }
}

div.bc_list-actions {
  list-style: none;
  margin: 1.2em 0px 0px 0px;
  padding: 0px;
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 16px;
  &.support {
    border-top: 1px solid var(--gray100);
    border-bottom: 1px solid var(--gray100);
    margin: 0.8em 0px;
    padding: 1em 0px;
  }
  ul.bc_list-actions__row {
    margin: 0px;
    padding: 0px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(50%, 1fr));
    align-items: center;
    justify-items: start;
    &:last-of-type {
      margin-bottom: 6.8px;
    }
    a {
      display: flex;
      justify-content: center;
      align-items: center;
      text-decoration: none;
      color: var(--gray600);
      transition: all 0.15s ease-in-out;
      svg {
        margin-right: 6px;
      }
      &:hover {
        color: var(--teal700);
      }
    }
    li {
      margin: 0px;
      padding: 0px;
      display: grid;
      justify-items: center;
      align-items: center;
    }
  }
}

.bc_list-tag {
  padding: 0.2em 1em;
  margin-right: 0.6em;
  border-radius: 24px;
  color: var(--teal600);
  background: var(--teal200);
  user-select: none;
  text-transform: capitalize;
  &.no {
    background: var(--gray050);
    color: var(--gray600);
  }
}

@media screen and (max-width: 800px) {
  ul.bc_list {
    grid-template-columns: 1fr;
  }

  .bc_search {
    max-width: 100%;
    width: 100%;
  }
}
